#pageIntroduction {
    background: dimgrey;
}

#pageProjects {
    background: dimgrey;
}

#pageContact {
    background: dimgrey;
}

ul {
    width: fit-content;
    margin: left;
    list-style: none;
}

section {
    width: 100%;
    height: 1000px;
    float: left;
}

section-2 {
    width: 100%;
    height: 500px;
    float: left;
}

section-3 {
    width: auto;
    height: auto;
    float: left;
}

.header {
    background-color: dimgrey;
    text-align: left;
    padding: 0px;

}


.main_part {
    color: dimgrey;

}

body {
    background: dimgrey;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200pxl;
    padding-left: 0px;
    padding-right: 0px;
    color: white;
}

.flex-container {
    display: flex;
    height: 38%;
    flex-wrap: wrap;
    align-content: flex-start;
    background: grey;
    
}

.flex-container >div{
    max-width: 600px;
    margin: auto;
    margin-left:5%;
    margin-right: auto;
    
    
}
.flex-item {
    background-color: darkgray;
    padding: auto;
    width: auto;
    height: 200px;
    margin-top: 10px;
    
    line-height: 20px;
    color: white;
    font-weight:200;
    text-align:left;
    padding-top: 50px;
}


.topnav {
    overflow: hidden;
    background: black;
    padding: padding;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: white;
    color: darkorange;
}

.column {
    float: center;
    width: 80%;
    padding: 15px;
    margin: auto;
    background: grey;

}

.column-2 {
    float: center;
    height: 300px;
    width: 80%;
    padding: 15px;
    margin: auto;
    background: grey;


}

.column-3 {
    float: left;
    width: 33.33%;
    padding: 15px;
    padding-left: center;
    padding-right: center;
    background: grey;
    margin: auto;
    height: 650px;


}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width:600px) {
    .column-3 {
        width: 100%;
    }
}

.fa {
    margin: auto;
    margin-top: 10px;
    padding: 50px;
    font-size: 70px;
    width: 50px;
    text-align: center;
    text-decoration: none;

}

.fa-facebook {
    background: #3B5998;
    color: white;
    width: 110px;
}

.fa-youtube {
    background: red;
    color: white;
    width: 110px;
}

.fa-instagram {
    background: black;
    color: white;
    width: 110px;
}

.fa:hover {
    opacity: 0.9;
    color: darkorange;
}

.topnav input[type=text] {
    float: center;
    padding: 15px;
    border: none;
    margin: auto;
    font-size: auto;
    width: 1200px;
    color: darkorange;
}


@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.footer {
    height: 20px;
    padding: 0px;
    height: 100px;
    text-align: center;
    background: black;
    color: white;
}

.button {
    background-color: black;
    /* Green */
    border: none;
    color: white;
    padding: 14px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.button:hover {
    opacity: 0.9;
    color: darkorange;
}

.w3-myfont {
    font-family: "Comic Sans MS", cursive, sans-serif;

}

.glass
{
    position:absolute;
    top:100%;
    left:50%;
    transform: translate(-50%,-50%);
    height: 300px;
    width:300px;
    background: (img src="Jasper.jpg");
    background-size: cover;
    overflow: hidden;
    border: 3px solid #fff;
    
    animation-play-state: paused
}

.glass:before
{
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.2);
    transform: skewX(-30deg);
    
    
}
.glass:hover{
    animation: glass;
    animation-play-state: running;
    animation: animate linear 3s infinite;
}

@keyframes animate{
    0%
    {
        transform: translate(-50%,-50%) skewY(5deg)
    }
    50%
    {
        transform: translate(-50%,-50%) skewY(-5deg)
    }
    100%
    {
        transform: translate(-50%,-50%) skewY(5deg)
    }
}

